*{
    box-sizing: border-box;
 }

.center
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.flex
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-between;
}

.mainbox{
	position: relative;
	width: 100%;	
}

.boxer{
	position: relative;
	width: 94%;
	margin-left: 3%;
	


}

.boxer h2{
    text-align: center;
}

.boxer > div{
	position: relative;
	display: inline-block;
	background-color: #f6b3;
	border: 1px black solid;
}
.boxer p{
	margin: 5px;
	margin-top: 25px;
	text-align: justify;
}

.title{
	float: right;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 1px black solid;
}

.tl-1{
	color: black;
	background-color: #5EB6DD;
}
.tl-2{
	color: black;
	background-color: #B09F91;
}
.tl-3{
	color: black;
	background-color: #E70739;
}

@media (min-width: 992px)
{
	.boxer > div{
	width: 30%;	
}

}

@media (max-width: 992px)
{
	.boxer > div{
	width: 45%;	
}

    .elem:last-child
    {
    	width: 100%;
    	margin-top: 20px;
    }

@media (max-width: 767px)
{   .boxer{
	flex: none;
}
	.boxer > div{
	display: block;
	width: 100%;
	margin-bottom: 20px;
}