
body{
	position: relative;
	width: 100%;
	font-size: 16px;
	color: black;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
}


.center
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.btn{
	border:none;
}

.mt-50{
	margin-top: 50px;
}

/** Header **/

.header{
	border-radius: 0;
	border:0;
	background-color: #fff;
	padding: 0;

}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(246,168,49, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(246,168,49);
} 


.nav-main
{
	display: hidden;
}
.nav-link
{
	text-align: center;
	
}
h2{
	text-align: center;
	color: green;

}

.row-fluid{
	background-color: white;
}


.navbar
{
	width: 100%;
	padding: 2px;
	margin: 0;
}

.col
{
	height: 350px;
	width: 270px;
	
}

.col-12
{    
	margin-bottom: 30px;
	background-color: #fff;
    position: relative;
    padding: 0;
    
    
}

.h2-header{
	margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
    font-family: OpenSans,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    color: blue;
    line-height: 44px;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.our-course{
	background-color: rgb(231,231,231);
}
.our-course-title{
	border-bottom: 3px rgb(249,86,6) solid;
	margin-bottom: 10px;
}


.h3-tl{
   text-align: center;
   font-family: 'Kanit',sans-serif;
   font-weight: 500;
   font-size: 1em;
   font-weight: 700;
   color: #2A150D;
   letter-spacing: 5px;
   text-transform: capitalize;
}


.btn-plus{
	background-color: #1d84d4;
	font-weight: 400;
	font-family: Helvetica,sans-serif;
	color: #000000;
}


.btn-block-bottom-course{
	border:none;
	color: #000036;
	background-color: #f6a831;
}


.btn-type-course
{
	position: absolute;
	top: 5px;
	left: 5px;
	color: #000036;
	background-color: #f6a831;
	border:none;
}

.btn-all{
	background-color: #24a0ff;
	color: #000;
}
.mb-10{
	border-bottom: 10px;
}
.mb-30{
	margin-bottom: 30px;
}

/*** whyus **/

.whyus
{
	background-color: #eee;
}

.whyus-elem
{
	background-color: inherit;
}
.whyus-container small
{   display: block;
    color: #1f1f1f;
    font-size: 16px;
    text-align: justify;
    line-height: 27px;
    margin-top: 10px;
}
.whyus-container h4
{
	 margin-top: 10px;
    text-align: center;
    font-family: OpenSans,Arial,sans-serif;
    color: #2b2b2b;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

/* Part elem */

.part{
	background-color: #e9f0f5;
}
.part-elem{
	position: relative;
	width: 170px;
	height: 96px;
}